@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F5F3F2;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    width: 100%;
    display: flex;
    z-index: 999;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #A9C3B6;
    color: white;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;

}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #738678;
    border-radius: 10px;
    background-color: #A9C3B6;
}

.input_section > h2 {
    text-align: center;
    color: white;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: #738678;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #738678;
    background-color: white;
    color: black;
}


.input_section > form > .input > label {
    color: white;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid #738678;
    border-radius: 10px;
    background-color: #A9C3B6;
}

.search_section > h2 {
    color: white;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr ;
    grid-gap: 10px;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #738678;
    background-color: white;
    color: black;
}

.search_section > form > button {
    background-color: #738678;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.search_section>form>button:hover,
.input_section>form>button:hover {
    background-color: 	#738276
}

.rak_section {
    width: 100%;
    border: 1px solid #738678;
    padding: 16px;
    border-radius: 10px;
    background-color: #A9C3B6;
}

.rak_section h2 {
    text-align: center;
    color: white;
}

.rak_buku {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
    border-radius: 10px;
    background-color: #A9C3B6;
}

.book_shelf {
    width: 100%;
    margin: 4px;
    border: 1px solid #738678;
    padding: 16px;
    border-radius: 10px;
    background-color: #738678;
}

.book_shelf > h2 {
    color: white;
}

.book_shelf .completedBookList .container-books {
    padding: 8px 5px 16px 16px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #738678;
}

.book_shelf .uncompletedBookList .container-books {
    padding: 8px 5px 16px 16px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #738678;
}

.rak_section  h3 {
    margin: 5px 0;
    color: white;
}

.rak_section h4 {
    font-weight: lighter;
    margin: 5px 0;
    color: white;
}

.rak_section button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.rak_section .green {
    background-color: #2ea043;
    color: white;
}

.rak_section .green:hover {
    background-color: #3fb950;
}

.rak_section .red {
    background-color: #b62324;
    color: white;
}

.rak_section .red:hover {
    background-color: #d12b2b;;
}

.rak_section .finish {
    background-color: #2ea043;
    color: #F5F3F2;
}

.rak_section .finish:hover {
    background-color: #3fb950;
}

.swal-modal {
    background-color: #F5F3F2;
  }

.swal-icon--success:after {
    background: #F5F3F2;
}

.swal-icon--success::before {
    background: #F5F3F2;
}

.swal-icon--success__hide-corners {
    background: #F5F3F2;
}
  
.swal-button--confirm {
    background-color: #2ea043;
}

.swal-button--danger {
    background-color: #b62324;
}

.swal-button--cancel {
    background-color: #c9d1d9;
}

.swal-title {
    color: black;
    font-size: 16px;
}

.swal-text {
    color: black;
}

footer {
    padding: 10px;
    margin-top: 20px;
    color: white;
    background-color: #A9C3B6;
    text-align: center;
    font-weight: bold;
  }
  
  footer > p {
    margin: 8px 0;
  }

  
